
## Task 1  

Your customer is importing flowers (irises) from China. He always buys the same three species: Virginica, Versicolor oraz Setosa. Unfortunately, in the last order all the flowers got mixed up and nobody knows how to distinguish them (what is surprising, even the florist experts were not able to identify them).  Luckily, there are still 150 flowers left from the previous order which are tagged properly.  The client instructed his workers to measure the length and width of their sepals and petals so they could help to classify the newest batch correctly.  
Goal: Based on attached data build a model which will classify flower species from the last order. Prepare a report where you describe your way of approaching the problem and the steps you took to solve it. Don’t forget to assess the quality of the model you have prepared.  
Don’t focus on getting the highest score possible - the more important thing is to show your line of thought.   
 If you have any doubts or something seems inconclusive based on the task description, write it down in the report in the way you would ask the customer to clarify.  
What you need to provide for this task:  
    1. The report (pdf/html/markdown) which includes the description of the model used.  
    2. The source code written in Python or R (published on one of the git platforms such as github or bitbucket).

In [2]:
import os
import pandas as pd

In [10]:
file = os.getcwd() + r"/Datasets/Graduate - IRISES dataset (2019-06).csv"
print(file)

/home/mab/Roche_MAB/Datasets/Graduate - IRISES dataset (2019-06).csv

In [12]:
data = pd.read_csv(file, sep = "|")
data.head()

   Sepal.Length  Sepal.Width  Petal.Length Petal.Width Species
1           5.1          3.5           1.4         0.2  setosa
2           4.9          3.0           1.4         0.2  setosa
3           4.7          3.2           1.3         0.2  setosa
4           4.6          3.1           1.5         0.2  setosa
5           5.0          3.6           1.4         0.2  setosa