## Task 3  
 
Write a SQL query, in which you will retrieve **the information about the students** who scored a **4 and above** on their **algebra** exam. Use the following tables:


<h5><center>table: students</center></h5>  

| student_id | name | surname | birth_date | faculty     |
|------------|------|---------|------------|-------------|
| 34577      | John | Peters  | 1993-02-15 | Mathematics |
| 34578      | Kate | Smith   | 1992-10-29 | Economy     |


<h5><center>table: exam_results</center></h5>  

| student_id | class_id | exam_date  | grade |
|------------|----------|------------|-------|
| 34577      | 6743     | 2019-06-19 | 2     |
| 34577      | 2876     | 2019-06-06 | 3     |
| 34578      | 6743     | 2019-06-19 | 4.5   |


<h5><center>table: class_catalogue</center></h5> 

| class_id | class_name | professor_id | semester    |
|----------|------------|--------------|-------------|
| 6743     | algebra    | 4352         | 2019_summer |
| 2876     | calculus   | 5325         | 2019_summer |
| 3466     | statistics | 6253         | 2019_winter |

**My assumptions regarding the task:**  
- I should print out all variables from the table "students"
- We don't need to print out any other information (grade, subject ...)
- The semester is not mentioned so I will assume the task is about people who scored 4 or above ever
- class_id, student_id are primary keys (therefore are unique)
- grade is a nuerical variable (I don't have to change it from character)

```sql
select * 
from students    
where student_id in (select student_id
                     from exam_results
                     left join class_catalogue 
                     on exam_results.class_id = class_catalogue.class_id
                     where class_name = "algebra" and grade ge 4.0)


select 
  * 
from 
  students 
where 
  student_id in (
    select 
      student_id 
    from 
      exam_results 
      left join class_catalogue on exam_results.class_id = class_catalogue.class_id 
    where 
      class_catalogue.class_name = "algebra" 
      and exam_results.grade ge 4
  )



```


The variables' names "class_name" and "grade" are unique so I don't need to specify the table they come from

Answer:
    
| student_id | name | surname | birth_date | faculty     |
|------------|------|---------|------------|-------------|
| 34578      | Kate | Smith   | 1992-10-29 | Economy     |